body {
  background-image: linear-gradient(#f068f2, #d773d9, #b19cd9, #f068f2);
  text-align: center;
}
h1 {
  color: FF10F0;
}
section { 
  display: block;
}
#buttons {
  height:300px;
}
#buttons span {
  background:dimgrey;
  text-align: center;
  display:block;
  border-radius: 25px;
}
